<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splashanimationimage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplashAnimationImage">
        <activity
            android:name=".AnimatedShimmer"
            android:exported="false"
            android:label="@string/title_activity_animated_shimmer"
            android:theme="@style/Theme.SplashAnimationImage.NoActionBar" />
        <activity
            android:name=".AnimatedSplashScreen"
            android:exported="false"
            android:label="@string/title_activity_animated_splash_screen"
            android:theme="@style/Theme.SplashAnimationImage.NoActionBar" />
        <activity
            android:name=".navigation.NavGraph"
            android:exported="false"
            android:label="@string/title_activity_nav_graph"
            android:theme="@style/Theme.SplashAnimationImage.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SplashAnimationImage.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>